body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background: linear-gradient(to bottom, #f2e6fc, #2a5298);
  background-image: url('images/backgroundmobile.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 525px) {
    background-image: url('images/backgrounddesktop.jpg');
    background-size: contain;
    background-position: center;
  }
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 800 */

.parkinsans-bold {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#banner {
  position: absolute;
  top: 15vh;
  @media (min-width: 525px) {
    top: 35vh;
  }
}

h1, h2 {
  color: red;
  text-align: center;
}

.snow-globe {
  position: relative;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255 255 255 / 70%), rgba(255 255 255 / 0%));
  background-image: url("images/bridge.png");
  background-size: cover;
  overflow: hidden;
  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Ensure it appears above the base */
}

canvas {
  width: 100%;
  height: 100%;
}

#shakeButton {
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #1e3c72;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

#shakeButton:hover {
  background: #2a5298;
}

.globe-container {
  position: absolute;
  cursor: grab; /* Hand cursor for dragging */
}

.globe-container:active {
  cursor: grabbing; /* Grabbing cursor while dragging */
}
