body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #888;
  color: white;
}

.snow-globe {
  position: relative;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255 255 255 / 70%), rgba(255 255 255 / 0%));
  overflow: hidden;
  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Ensure it appears above the base */
}

canvas {
  width: 100%;
  height: 100%;
}

#shakeButton {
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #1e3c72;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

#shakeButton:hover {
  background: #2a5298;
}

.globe-container {
    position: absolute;
    cursor: grab; /* Hand cursor for dragging */
}

.globe-container:active {
  cursor: grabbing; /* Grabbing cursor while dragging */
}
